<html>
<head>
    <title>Today's Feelings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>

<body>
<div id="wrap" ng-app="moodApp">
    <div class="container" ng-controller="moodScrapeCtrl">
        <div class="btn-group mood-buttons form-group" role="group" data-toggle="buttons">
            <button class="btn btn-default"
                    style="background-color: green;     {{ new_mood.feeling == 'HAPPY'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='HAPPY'" title="Happy">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-5.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: lime;      {{ new_mood.feeling == 'NORMAL'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='NORMAL'" title="Normal">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-4.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: yellow;    {{ new_mood.feeling == 'BIT_MEH'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='BIT_MEH'" title="A bit meh">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/calm.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: orange;    {{ new_mood.feeling == 'GRUMPY'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='GRUMPY'" title="Grumpy">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/nervous.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: red;       {{ new_mood.feeling == 'STRESSED'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='STRESSED'" title="Stressed out">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/sad-8.svg"></object>
            </button>
        </div>

        <div class="form-group">
            <textarea class="form-control" id="mood-comments" ng-model="new_mood.comment" rows="4" placeholder="Any Comments?"
                      ng-maxlength=""></textarea>
        </div>

        <div class="btn btn-primary pull-right done-btn" ng-click="addNewMood()">OK</div>
    </div>

    <div class="container" ng-controller="moodAverageCtrl">
        <div class="average-mood-wrapper">
            <div class="average-color-background" style="background-color: green;"></div>
            <div class="average-color-background" style="background-color: lime;"></div>
            <div class="average-color-background" style="background-color: yellow;"></div>
            <div class="average-color-background" style="background-color: orange;"></div>
            <div class="average-color-background" style="background-color: red;"></div>

            <div class="average-mood-indicator">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-4.svg"></object>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container text-center">
        Icons designed by <a href="https://www.flaticon.com/authors/baianat" target="_blank">Baianat</a> from Flaticon
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
</body>

<script>
var app = angular.module('moodApp', []);

app.service('moodService', function($http) {
    this.add = function(mood) {
        return $http.post("mood/add", JSON.stringify(mood));
    }

    this.getAllForToday = function() {
        return $http.get("mood/allForToday");
    }
})

app.controller('moodScrapeCtrl', function($scope, $http) {
    $scope.new_mood = {
        comment: "",
        feeling: "BIT_MEH"
    };

    $scope.addNewMood = function() {
        $http.post("mood/add", $scope.new_mood).error(function(data){
            console.log("ERROR: " + JSON.stringify(data));
        }).success(function(data){
            console.log("SUCCESS");
        });
    }
});


app.controller('moodAverageCtrl', function($scope, $http) {
    console.log("average is going!")
});



</script>
</html>
