<html>
<head>
    <title>Today's Feelings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>

<body>
<div id="wrap" ng-app="moodApp" ng-controller="moodCtrl">
    <div class="container" ng-show="current_view == 'ADD_NEW_MOOD'">
        <h1 class="summary-title">I feel ...</h1>
        <div class="btn-group mood-buttons form-group" role="group" data-toggle="buttons">
            <button class="btn btn-default"
                    style="background-color: green;     {{ new_mood.feeling == 'HAPPY'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='HAPPY'" title="Happy">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-5.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: lime;      {{ new_mood.feeling == 'NORMAL'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='NORMAL'" title="Normal">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-4.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: yellow;    {{ new_mood.feeling == 'BIT_MEH'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='BIT_MEH'" title="A bit meh">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/calm.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: orange;    {{ new_mood.feeling == 'GRUMPY'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='GRUMPY'" title="Grumpy">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/nervous.svg"></object>
            </button>
            <button class="btn btn-default"
                    style="background-color: red;       {{ new_mood.feeling == 'STRESSED'? 'opacity: 1' : '' }}"
                    ng-click="new_mood.feeling='STRESSED'" title="Stressed out">
                <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/sad-8.svg"></object>
            </button>
        </div>

        <div class="form-group">
            <textarea class="form-control" id="mood-comments" ng-model="new_mood.comment" rows="4"
                      placeholder="Any thoughts? (350 characters max)"
                      ng-maxlength="350"></textarea>
        </div>

        <div class="btn btn-primary pull-right done-btn" ng-click="addNewMood()">OK</div>

    </div>


    <div class="container" ng-show="current_view == 'AVERAGE_MOOD'">
        <h1 class="summary-title">My team feels ...</h1>
        <div>
            <div id="average-mood-wrapper" class="form-group">
                <div class="average-color-background" style="background-color: green;"></div>
                <div class="average-color-background" style="background-color: lime;"></div>
                <div class="average-color-background" style="background-color: yellow;"></div>
                <div class="average-color-background" style="background-color: orange;"></div>
                <div class="average-color-background" style="background-color: red;"></div>
                <div class="average-mood-indicator" style="left: {{ mood_average.average/5*100 }}%">
                    <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-5.svg"
                            ng-show="mood_average.closestFeeling=='HAPPY'"></object>
                    <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/happy-4.svg"
                            ng-show="mood_average.closestFeeling=='NORMAL'"></object>
                    <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/calm.svg"
                            ng-show="mood_average.closestFeeling=='BIT_MEH'"></object>
                    <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/nervous.svg"
                            ng-show="mood_average.closestFeeling=='GRUMPY'"></object>
                    <object class="svg-icon" type="image/svg+xml" data="/svg/132273-emotions-assets/sad-8.svg"
                            ng-show="mood_average.closestFeeling=='STRESSED'"></object>
                </div>
            </div>
        </div>
        <table class="table">
            <tbody>
            <tr ng-repeat="mood in mood_average.moods" ng-show="mood.comment">
                <td>
                    <p ng-repeat="line in (mood.comment | newlines)">
                        {{ line }}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container" ng-show="current_view == 'TRY_TOMORROW'" ng-click="showAverage()">
        <h1 class="summary-title">Try Tomorrow</h1>
        <p class="try-tomorrow-message">
            Sorry, you have already submitted your response for today.<br/>
            Try again tomorrow!
            <br/><br/>
            Click to see your team average.
            <br/><br/>
        </p>
    </div>
</div>


<footer id="footer">
    <div class="container text-center">
        Icons designed by <a href="https://www.flaticon.com/authors/baianat" target="_blank">Baianat</a> from Flaticon
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js"></script>
<script src="/js/index.js"></script>
</body>

</html>
