
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 20px;
  font-size: 0.8em;
}





/* ==================== */
/* === Add new mood === */
.mood-buttons > .btn {
    opacity: 0.3;
}
.mood-buttons > .btn:hover {
    opacity: 0.8 !important;
}
.summary-title {
    text-align: center;
}

/* Now for all our various screen sizes */
.svg-icon {
    width: 20%;
    pointer-events: none;
}
.done-btn {
    width: 100%;
}

@media (max-width: 768px) {
    .btn,.btn-group {
        width:100%;
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .svg-icon {
        width: 118; /* (750 container width / 5 buttons) - 32 padding */
    }
    .summary-title {
        margin-top: 80px;
    }
    .done-btn {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .svg-icon {
        width: 162; /* (970 container width / 5 buttons) - 32 padding */
    }
}

@media (min-width: 1200px) {
    .svg-icon {
        width: 202; /* (1170 container width / 5 buttons) - 32 padding */
    }
}



/* ===================== */
/* Average Mood for Team */
#average-mood-wrapper {
    position: relative;
}
.average-color-background {
    width: 20%;
    padding-top: 20%;
    float: left;
    opacity: 0.6;
}
.average-mood-indicator {
	position: absolute;
	padding: 12px;
	margin: auto;
	width: 20%;
}
.average-mood-indicator > .svg-icon {
    width: auto;
}